trunk/SiteUtilProjects/OnlineVideos.Sites.diebagger/Web References/MpExtendedTvService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mpextended.github.com" elementFormDefault="qualified" targetNamespace="http://mpextended.github.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.5.18:4322/MPExtended/TVAccessService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" />
  <xs:import schemaLocation="http://192.168.5.18:4322/MPExtended/TVAccessService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" />
  <xs:import schemaLocation="http://192.168.5.18:4322/MPExtended/TVAccessService/?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="SwitchTVServerToChannelAndGetTimeshiftFilename">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchTVServerToChannelAndGetTimeshiftFilenameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="SwitchTVServerToChannelAndGetTimeshiftFilenameResult" nillable="true" type="q1:WebStringResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHeartbeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="SendHeartbeatResult" nillable="true" type="q2:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCurrentTimeShifting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCurrentTimeShiftingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="CancelCurrentTimeShiftingResult" nillable="true" type="q3:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsBasicForChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsBasicForChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetProgramsBasicForChannelResult" nillable="true" type="q4:ArrayOfWebProgramBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsDetailedForChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsDetailedForChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetProgramsDetailedForChannelResult" nillable="true" type="q5:ArrayOfWebProgramDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsBasicForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsBasicForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetProgramsBasicForGroupResult" nillable="true" type="q6:ArrayOfWebChannelProgramsOfWebProgramBasicmOh5d_SPI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsDetailedForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsDetailedForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetProgramsDetailedForGroupResult" nillable="true" type="q7:ArrayOfWebChannelProgramsOfWebProgramDetailedmOh5d_SPI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProgramOnChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProgramOnChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetCurrentProgramOnChannelResult" nillable="true" type="q8:WebProgramDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextProgramOnChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextProgramOnChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetNextProgramOnChannelResult" nillable="true" type="q9:WebProgramDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="SearchProgramsCountResult" nillable="true" type="q10:WebIntResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="SearchProgramsBasicResult" nillable="true" type="q11:ArrayOfWebProgramBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsBasicByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsBasicByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="SearchProgramsBasicByRangeResult" nillable="true" type="q12:ArrayOfWebProgramBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="SearchProgramsDetailedResult" nillable="true" type="q13:ArrayOfWebProgramDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsDetailedByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProgramsDetailedByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="SearchProgramsDetailedByRangeResult" nillable="true" type="q14:ArrayOfWebProgramDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowNextWebProgramBasicForChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowNextWebProgramBasicForChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetNowNextWebProgramBasicForChannelResult" nillable="true" type="q15:ArrayOfWebProgramBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowNextWebProgramDetailedForChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowNextWebProgramDetailedForChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetNowNextWebProgramDetailedForChannelResult" nillable="true" type="q16:ArrayOfWebProgramDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetProgramBasicByIdResult" nillable="true" type="q17:WebProgramBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramDetailedById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramDetailedByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetProgramDetailedByIdResult" nillable="true" type="q18:WebProgramDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramIsScheduledOnChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramIsScheduledOnChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetProgramIsScheduledOnChannelResult" nillable="true" type="q19:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramIsScheduled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramIsScheduledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetProgramIsScheduledResult" nillable="true" type="q20:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRecordingByIdResult" nillable="true" type="q21:WebRecordingBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRecordingFileInfoResult" nillable="true" type="q22:WebRecordingFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRecordingFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRecordingFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/Message" name="ReadRecordingFileResult" type="q23:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetGroupCountResult" nillable="true" type="q24:WebIntResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q25:WebSortField" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q26:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetGroupsResult" nillable="true" type="q27:ArrayOfWebChannelGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q28:WebSortField" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q29:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetGroupsByRangeResult" nillable="true" type="q30:ArrayOfWebChannelGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetGroupByIdResult" nillable="true" type="q31:WebChannelGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetChannelCountResult" nillable="true" type="q32:WebIntResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q33:WebSortField" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q34:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetChannelsBasicResult" nillable="true" type="q35:ArrayOfWebChannelBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsBasicByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q36:WebSortField" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q37:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsBasicByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetChannelsBasicByRangeResult" nillable="true" type="q38:ArrayOfWebChannelBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q39:WebSortField" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q40:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetChannelsDetailedResult" nillable="true" type="q41:ArrayOfWebChannelDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsDetailedByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q42:WebSortField" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q43:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelsDetailedByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetChannelsDetailedByRangeResult" nillable="true" type="q44:ArrayOfWebChannelDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChannelStatesForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChannelStatesForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetAllChannelStatesForGroupResult" nillable="true" type="q45:ArrayOfWebChannelState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioGroupCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioGroupCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetRadioGroupCountResult" nillable="true" type="q46:WebIntResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q47:WebSortField" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q48:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRadioGroupsResult" nillable="true" type="q49:ArrayOfWebChannelGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioGroupsByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q50:WebSortField" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q51:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioGroupsByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRadioGroupsByRangeResult" nillable="true" type="q52:ArrayOfWebChannelGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioGroupById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioGroupByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRadioGroupByIdResult" nillable="true" type="q53:WebChannelGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetRadioChannelCountResult" nillable="true" type="q54:WebIntResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelsBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q55:WebSortField" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q56:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelsBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRadioChannelsBasicResult" nillable="true" type="q57:ArrayOfWebChannelBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelsBasicByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q58:WebSortField" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q59:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelsBasicByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRadioChannelsBasicByRangeResult" nillable="true" type="q60:ArrayOfWebChannelBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelsDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q61:WebSortField" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q62:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelsDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRadioChannelsDetailedResult" nillable="true" type="q63:ArrayOfWebChannelDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelsDetailedByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:int" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q64:WebSortField" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q65:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadioChannelsDetailedByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRadioChannelsDetailedByRangeResult" nillable="true" type="q66:ArrayOfWebChannelDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRadioChannelStatesForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRadioChannelStatesForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetAllRadioChannelStatesForGroupResult" nillable="true" type="q67:ArrayOfWebChannelState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetChannelBasicByIdResult" nillable="true" type="q68:WebChannelBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelDetailedById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelDetailedByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetChannelDetailedByIdResult" nillable="true" type="q69:WebChannelDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetChannelStateResult" nillable="true" type="q70:WebChannelState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchTVServerToChannelAndGetVirtualCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchTVServerToChannelAndGetVirtualCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="SwitchTVServerToChannelAndGetVirtualCardResult" nillable="true" type="q71:WebVirtualCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchTVServerToChannelAndGetStreamingUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwitchTVServerToChannelAndGetStreamingUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="SwitchTVServerToChannelAndGetStreamingUrlResult" nillable="true" type="q72:WebStringResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetServiceDescriptionResult" nillable="true" type="q73:WebTVServiceDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionToTVService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionToTVServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="TestConnectionToTVServiceResult" nillable="true" type="q74:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSettingFromDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSettingFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="ReadSettingFromDatabaseResult" nillable="true" type="q75:WebStringResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSettingToDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteSettingToDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="WriteSettingToDatabaseResult" nillable="true" type="q76:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalDiskInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalDiskInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetLocalDiskInformationResult" nillable="true" type="q77:ArrayOfWebDiskSpaceInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="type" nillable="true" type="q78:WebTVSearchResultType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="SearchResult" nillable="true" type="q79:ArrayOfWebTVSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalMediaInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="type" nillable="true" type="q80:WebMediaType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalMediaInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetExternalMediaInfoResult" nillable="true" type="q81:WebDictionaryOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResultsByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="type" nillable="true" type="q82:WebTVSearchResultType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResultsByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="SearchResultsByRangeResult" nillable="true" type="q83:ArrayOfWebTVSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetCardsResult" nillable="true" type="q84:ArrayOfWebCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetActiveCardsResult" nillable="true" type="q85:ArrayOfWebVirtualCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetActiveUsersResult" nillable="true" type="q86:ArrayOfWebUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetStreamingClientsResult" nillable="true" type="q87:ArrayOfWebRtspClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRecordingDiskInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRecordingDiskInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetAllRecordingDiskInformationResult" nillable="true" type="q88:ArrayOfWebDiskSpaceInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingDiskInformationForCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingDiskInformationForCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetRecordingDiskInformationForCardResult" nillable="true" type="q89:WebDiskSpaceInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRecordingManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRecordingManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="StartRecordingManualResult" nillable="true" type="q90:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="scheduleType" type="q91:WebScheduleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="AddScheduleResult" nillable="true" type="q92:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScheduleDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="scheduleType" type="q93:WebScheduleType" />
        <xs:element minOccurs="0" name="preRecordInterval" type="xs:int" />
        <xs:element minOccurs="0" name="postRecordInterval" type="xs:int" />
        <xs:element minOccurs="0" name="directory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScheduleDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="AddScheduleDetailedResult" nillable="true" type="q94:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetScheduleCountResult" nillable="true" type="q95:WebIntResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q96:WebSortField" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q97:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetSchedulesResult" nillable="true" type="q98:ArrayOfWebScheduleBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q99:WebSortField" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q100:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetSchedulesByRangeResult" nillable="true" type="q101:ArrayOfWebScheduleBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetScheduleByIdResult" nillable="true" type="q102:WebScheduleBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="CancelScheduleResult" nillable="true" type="q103:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="DeleteScheduleResult" nillable="true" type="q104:WebBoolResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduledRecordingsForDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q105:WebSortField" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q106:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduledRecordingsForDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetScheduledRecordingsForDateResult" nillable="true" type="q107:ArrayOfWebScheduledRecording" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduledRecordingsForToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q108:WebSortField" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q109:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduledRecordingsForTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetScheduledRecordingsForTodayResult" nillable="true" type="q110:ArrayOfWebScheduledRecording" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="GetRecordingCountResult" nillable="true" type="q111:WebIntResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q112:WebSortField" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q113:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRecordingsResult" nillable="true" type="q114:ArrayOfWebRecordingBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingsByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="sort" nillable="true" type="q115:WebSortField" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/MPExtended.Services.Common.Interfaces" minOccurs="0" name="order" nillable="true" type="q116:WebSortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingsByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" minOccurs="0" name="GetRecordingsByRangeResult" nillable="true" type="q117:ArrayOfWebRecordingBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>