trunk/SiteUtilProjects/OnlineVideos.Sites.diebagger/Web References/MpExtendedStreamingService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mpextended.github.com" elementFormDefault="qualified" targetNamespace="http://mpextended.github.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/StreamingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" />
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/StreamingService/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetServiceDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="GetServiceDescriptionResult" nillable="true" type="q1:WebStreamServiceDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranscoderProfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranscoderProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="GetTranscoderProfilesResult" nillable="true" type="q2:ArrayOfWebTranscoderProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranscoderProfilesForTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranscoderProfilesForTargetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="GetTranscoderProfilesForTargetResult" nillable="true" type="q3:ArrayOfWebTranscoderProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranscoderProfileByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranscoderProfileByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="GetTranscoderProfileByNameResult" nillable="true" type="q4:WebTranscoderProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q5:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="GetMediaInfoResult" nillable="true" type="q6:WebMediaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranscodingInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerPosition" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranscodingInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="GetTranscodingInfoResult" nillable="true" type="q7:WebTranscodingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q8:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idleTimeout" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitStreamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startPosition" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartStreamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStreamWithStreamSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startPosition" type="xs:int" />
        <xs:element minOccurs="0" name="audioId" type="xs:int" />
        <xs:element minOccurs="0" name="subtitleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStreamWithStreamSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartStreamWithStreamSelectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinishStreamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q9:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startPosition" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStreamingUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingSessions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingSessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="GetStreamingSessionsResult" nillable="true" type="q10:ArrayOfWebStreamingSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q11:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="GetStreamSizeResult" nillable="true" type="q12:WebResolution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeStreaming">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeStreamingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizeStreamingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeRemoteHostForStreaming">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeRemoteHostForStreamingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizeRemoteHostForStreamingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemSupportStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q13:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemSupportStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="GetItemSupportStatusResult" nillable="true" type="q14:WebItemSupportStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q15:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/Message" name="GetMediaItemResult" type="q16:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/Message" name="RetrieveStreamResult" type="q17:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q18:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startPosition" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/Message" name="DoStreamResult" type="q19:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q20:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/Message" name="ExtractImageResult" type="q21:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractImageResized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q22:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
        <xs:element minOccurs="0" name="maxWidth" type="xs:int" />
        <xs:element minOccurs="0" name="maxHeight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractImageResizedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/Message" name="ExtractImageResizedResult" type="q23:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q24:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/Message" name="GetImageResult" type="q25:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="type" type="q26:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxWidth" type="xs:int" />
        <xs:element minOccurs="0" name="maxHeight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResizedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/Message" name="GetImageResizedResult" type="q27:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomTranscoderData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomTranscoderDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/Message" name="CustomTranscoderDataResult" type="q28:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="mediatype" type="q29:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="artworktype" type="q30:WebArtworkType" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/Message" name="GetArtworkResult" type="q31:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtworkResized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="mediatype" type="q32:WebStreamMediaType" />
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MPExtended.Services.StreamingService.Interfaces" minOccurs="0" name="artworktype" type="q33:WebArtworkType" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="maxWidth" type="xs:int" />
        <xs:element minOccurs="0" name="maxHeight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtworkResizedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/Message" name="GetArtworkResizedResult" type="q34:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>