trunk/SiteUtilProjects/OnlineVideos.Sites.diebagger/Web References/MpExtendedService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Playlist" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Playlist" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.5.18:4322/MPExtended/MediaAccessService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" />
  <xs:complexType name="ArrayOfWebPlaylistItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebPlaylistItem" nillable="true" type="tns:WebPlaylistItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebPlaylistItem" nillable="true" type="tns:ArrayOfWebPlaylistItem" />
  <xs:complexType name="WebPlaylistItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" base="q1:WebMediaItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Duration" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebPlaylistItem" nillable="true" type="tns:WebPlaylistItem" />
  <xs:complexType name="ArrayOfWebPlaylist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebPlaylist" nillable="true" type="tns:WebPlaylist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebPlaylist" nillable="true" type="tns:ArrayOfWebPlaylist" />
  <xs:complexType name="WebPlaylist">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" base="q2:WebMediaItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebPlaylist" nillable="true" type="tns:WebPlaylist" />
</xs:schema>