trunk/SiteUtilProjects/OnlineVideos.Sites.diebagger/Web References/MpExtendedService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Movie" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Movie" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.5.18:4322/MPExtended/MediaAccessService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" />
  <xs:import schemaLocation="http://192.168.5.18:4322/MPExtended/MediaAccessService/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfWebMovieBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebMovieBasic" nillable="true" type="tns:WebMovieBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebMovieBasic" nillable="true" type="tns:ArrayOfWebMovieBasic" />
  <xs:complexType name="WebMovieBasic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" base="q1:WebMediaItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Actors" nillable="true" type="q1:ArrayOfWebActor" />
          <xs:element minOccurs="0" name="ExternalId" nillable="true" type="q1:ArrayOfWebExternalId" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Genres" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="IsProtected" type="xs:boolean" />
          <xs:element minOccurs="0" name="Rating" type="xs:float" />
          <xs:element minOccurs="0" name="Runtime" type="xs:int" />
          <xs:element minOccurs="0" name="Watched" type="xs:boolean" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebMovieBasic" nillable="true" type="tns:WebMovieBasic" />
  <xs:complexType name="ArrayOfWebMovieDetailed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebMovieDetailed" nillable="true" type="tns:WebMovieDetailed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebMovieDetailed" nillable="true" type="tns:ArrayOfWebMovieDetailed" />
  <xs:complexType name="WebMovieDetailed">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebMovieBasic">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Directors" nillable="true" type="q3:ArrayOfstring" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tagline" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Writers" nillable="true" type="q4:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebMovieDetailed" nillable="true" type="tns:WebMovieDetailed" />
</xs:schema>