trunk/SiteUtilProjects/OnlineVideos.Sites.diebagger/Web References/MpExtendedService/MediaAccessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="http://mpextended.github.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MediaAccessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetPipeEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses />
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="SoapEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://mpextended.github.com" location="http://192.168.5.18:4322/MPExtended/MediaAccessService/?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetPipeEndpoint" type="i0:IMediaAccessService">
    <wsp:PolicyReference URI="#NetPipeEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetPlaylistItemsByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPlaylistItemsByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistItemsCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPlaylistItemsCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlaylistItem">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/AddPlaylistItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlaylistItems">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/AddPlaylistItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePlaylistItem">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/RemovePlaylistItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePlaylistItems">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/RemovePlaylistItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovePlaylistItem">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/MovePlaylistItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePlaylist">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/CreatePlaylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlaylist">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/DeletePlaylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterValuesCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFilterValuesCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterValues">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFilterValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterValuesByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFilterValuesByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFilterString">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/CreateFilterString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterOperators">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFilterOperators" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowCategories">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowGenres">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowGenres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowGenresByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowGenresByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowGenresCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowGenresCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowActors">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowActors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowActorsByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowActorsByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowActorCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowActorCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemDriveCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemDriveCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemDrives">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemDrives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemDrivesByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemDrivesByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFolders">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFolders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFoldersByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFoldersByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFiles">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesAndFolders">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesAndFolders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesAndFoldersByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesAndFoldersByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesAndFoldersCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesAndFoldersCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFoldersCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFoldersCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemDriveBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemDriveBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFolderBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFolderBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFileBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFileBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathList">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPathList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLocalFile">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/IsLocalFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFile">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/RetrieveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylists">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPlaylists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistItems">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPlaylistItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicturesDetailedByCategory">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPicturesDetailedByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeCountForTVShow">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeCountForTVShow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeCountForSeason">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeCountForSeason" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonCountForTVShow">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonCountForTVShow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowsBasic">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowsBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowsDetailed">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowsDetailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowsBasicByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowsBasicByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowsDetailedByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowsDetailedByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowDetailedById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowDetailedById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonsBasicForTVShow">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonsBasicForTVShow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonsDetailedForTVShow">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonsDetailedForTVShow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonDetailedById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonDetailedById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasic">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailed">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasicByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasicByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailedByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailedByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasicForTVShow">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasicForTVShow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailedForTVShow">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailedForTVShow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasicForTVShowByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasicForTVShowByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailedForTVShowByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailedForTVShowByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasicForSeason">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasicForSeason" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailedForSeason">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailedForSeason" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeDetailedById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeDetailedById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistsBasicByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistsBasicByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistsDetailed">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistsDetailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistsDetailedByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistsDetailedByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistDetailedById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistDetailedById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTrackCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTrackCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksBasic">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksDetailed">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksDetailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksBasicByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksBasicByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksDetailedByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksDetailedByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksBasicForAlbum">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksBasicForAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksBasicForArtist">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksBasicForArtist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksDetailedForAlbum">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksDetailedForAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksDetailedForArtist">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksDetailedForArtist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTrackBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTrackBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTrackDetailedById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTrackDetailedById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicGenres">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicGenres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicGenresByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicGenresByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicGenresCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicGenresCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicCategories">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicturesBasic">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPicturesBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicturesDetailed">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPicturesDetailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureDetailedById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureDetailedById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureCategories">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureSubCategories">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureSubCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicturesBasicByCategory">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPicturesBasicByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceDescription">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetServiceDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaItem">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMediaItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchResultsByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/SearchResultsByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalMediaInfo">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetExternalMediaInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalDiskInformation">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetLocalDiskInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesBasic">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMoviesBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesDetailed">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMoviesDetailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesBasicByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMoviesBasicByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesDetailedByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMoviesDetailedByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieDetailedById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieDetailedById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieGenres">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieGenres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieGenresByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieGenresByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieGenresCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieGenresCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieCategories">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieActors">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieActors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieActorsByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieActorsByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieActorCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieActorCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumsBasic">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumsBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumsBasicByRange">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumsBasicByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumsBasicForArtist">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumsBasicForArtist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumBasicById">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumBasicById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistCount">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistsBasic">
      <soap12:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistsBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoapEndpoint" type="i0:IMediaAccessService">
    <wsp:PolicyReference URI="#SoapEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlaylistItemsByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPlaylistItemsByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistItemsCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPlaylistItemsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlaylistItem">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/AddPlaylistItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlaylistItems">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/AddPlaylistItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePlaylistItem">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/RemovePlaylistItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePlaylistItems">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/RemovePlaylistItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovePlaylistItem">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/MovePlaylistItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePlaylist">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/CreatePlaylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlaylist">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/DeletePlaylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterValuesCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFilterValuesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterValues">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFilterValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterValuesByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFilterValuesByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFilterString">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/CreateFilterString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilterOperators">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFilterOperators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowCategories">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowGenres">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowGenresByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowGenresByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowGenresCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowGenresCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowActors">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowActors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowActorsByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowActorsByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowActorCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowActorCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemDriveCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemDriveCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemDrives">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemDrives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemDrivesByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemDrivesByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFolders">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFoldersByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFoldersByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFiles">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesAndFolders">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesAndFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesAndFoldersByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesAndFoldersByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesAndFoldersCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesAndFoldersCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFilesCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFilesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFoldersCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFoldersCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemDriveBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemDriveBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFolderBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFolderBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSystemFileBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileSystemFileBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPathList">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPathList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLocalFile">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/IsLocalFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFile">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/RetrieveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylists">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPlaylists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistItems">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPlaylistItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicturesDetailedByCategory">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPicturesDetailedByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeCountForTVShow">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeCountForTVShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeCountForSeason">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeCountForSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonCountForTVShow">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonCountForTVShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowsBasic">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowsBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowsDetailed">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowsDetailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowsBasicByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowsBasicByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowsDetailedByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowsDetailedByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVShowDetailedById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVShowDetailedById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonsBasicForTVShow">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonsBasicForTVShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonsDetailedForTVShow">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonsDetailedForTVShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVSeasonDetailedById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVSeasonDetailedById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasic">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailed">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasicByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasicByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailedByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailedByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasicForTVShow">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasicForTVShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailedForTVShow">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailedForTVShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasicForTVShowByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasicForTVShowByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailedForTVShowByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailedForTVShowByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesBasicForSeason">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesBasicForSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodesDetailedForSeason">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodesDetailedForSeason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTVEpisodeDetailedById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetTVEpisodeDetailedById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistsBasicByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistsBasicByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistsDetailed">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistsDetailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistsDetailedByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistsDetailedByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistDetailedById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistDetailedById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTrackCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTrackCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksBasic">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksDetailed">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksDetailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksBasicByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksBasicByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksDetailedByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksDetailedByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksBasicForAlbum">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksBasicForAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksBasicForArtist">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksBasicForArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksDetailedForAlbum">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksDetailedForAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTracksDetailedForArtist">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTracksDetailedForArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTrackBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTrackBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicTrackDetailedById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicTrackDetailedById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicGenres">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicGenresByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicGenresByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicGenresCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicGenresCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicCategories">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicturesBasic">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPicturesBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicturesDetailed">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPicturesDetailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureDetailedById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureDetailedById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureCategories">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictureSubCategories">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPictureSubCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicturesBasicByCategory">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetPicturesBasicByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceDescription">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetServiceDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaItem">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMediaItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchResultsByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/SearchResultsByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalMediaInfo">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetExternalMediaInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalDiskInformation">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetLocalDiskInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesBasic">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMoviesBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesDetailed">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMoviesDetailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesBasicByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMoviesBasicByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesDetailedByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMoviesDetailedByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieDetailedById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieDetailedById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieGenres">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieGenresByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieGenresByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieGenresCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieGenresCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieCategories">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieActors">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieActors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieActorsByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieActorsByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieActorCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMovieActorCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumsBasic">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumsBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumsBasicByRange">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumsBasicByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumsBasicForArtist">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumsBasicForArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicAlbumBasicById">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicAlbumBasicById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistCount">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMusicArtistsBasic">
      <soap:operation soapAction="http://mpextended.github.com/IMediaAccessService/GetMusicArtistsBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaAccessService">
    <wsdl:port name="NetPipeEndpoint" binding="tns:NetPipeEndpoint">
      <soap12:address location="net.pipe://127.0.0.1/MPExtended/MediaAccessService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://127.0.0.1/MPExtended/MediaAccessService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/Multi</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="SoapEndpoint" binding="tns:SoapEndpoint">
      <soap:address location="http://192.168.5.18:4322/MPExtended/MediaAccessService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>