SiteUtilProjects/OnlineVideos.Sites.diebagger/Web References/MpExtendedService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mpextended.github.com" elementFormDefault="qualified" targetNamespace="http://mpextended.github.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/MediaAccessService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" />
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/MediaAccessService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" />
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/MediaAccessService/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/MediaAccessService/?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/MediaAccessService/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" />
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/MediaAccessService/?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Picture" />
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/MediaAccessService/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" />
  <xs:import schemaLocation="http://10.1.0.248:4322/MPExtended/MediaAccessService/?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Movie" />
  <xs:element name="GetFileSystemFolderBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFolderBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetFileSystemFolderBasicByIdResult" nillable="true" type="q1:WebFolderBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFileBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFileBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetFileSystemFileBasicByIdResult" nillable="true" type="q2:WebFileBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="mediatype" type="q3:WebMediaType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="filetype" type="q4:WebFileType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPathListResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="mediatype" type="q6:WebMediaType" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="filetype" type="q7:WebFileType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetFileInfoResult" nillable="true" type="q8:WebFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLocalFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="mediatype" type="q9:WebMediaType" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="filetype" type="q10:WebFileType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLocalFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLocalFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="mediatype" type="q11:WebMediaType" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="filetype" type="q12:WebFileType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/Message" name="RetrieveFileResult" type="q13:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesDetailedForTVShowByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q14:SortBy" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q15:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesDetailedForTVShowByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodesDetailedForTVShowByRangeResult" nillable="true" type="q16:ArrayOfWebTVEpisodeDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesBasicForSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q17:SortBy" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q18:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesBasicForSeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodesBasicForSeasonResult" nillable="true" type="q19:ArrayOfWebTVEpisodeBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesDetailedForSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q20:SortBy" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q21:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesDetailedForSeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodesDetailedForSeasonResult" nillable="true" type="q22:ArrayOfWebTVEpisodeDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodeBasicByIdResult" nillable="true" type="q23:WebTVEpisodeBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeDetailedById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeDetailedByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodeDetailedByIdResult" nillable="true" type="q24:WebTVEpisodeDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetAllTVShowCategoriesResult" nillable="true" type="q25:ArrayOfWebCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowGenres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q26:SortBy" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q27:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetAllTVShowGenresResult" nillable="true" type="q28:ArrayOfWebGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowGenresByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q29:SortBy" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q30:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowGenresByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetTVShowGenresByRangeResult" nillable="true" type="q31:ArrayOfWebGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowGenresCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowGenresCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetTVShowGenresCountResult" nillable="true" type="q32:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowActors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q33:SortBy" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q34:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowActorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetAllTVShowActorsResult" nillable="true" type="q35:ArrayOfWebActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowActorsByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q36:SortBy" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q37:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowActorsByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetTVShowActorsByRangeResult" nillable="true" type="q38:ArrayOfWebActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowActorCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowActorCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetTVShowActorCountResult" nillable="true" type="q39:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemDriveCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemDriveCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetFileSystemDriveCountResult" nillable="true" type="q40:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileSystemDrives">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q41:SortBy" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q42:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileSystemDrivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetAllFileSystemDrivesResult" nillable="true" type="q43:ArrayOfWebDriveBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemDrivesByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q44:SortBy" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q45:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemDrivesByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetFileSystemDrivesByRangeResult" nillable="true" type="q46:ArrayOfWebDriveBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileSystemFolders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q47:SortBy" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q48:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileSystemFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetAllFileSystemFoldersResult" nillable="true" type="q49:ArrayOfWebFolderBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFoldersByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q50:SortBy" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q51:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFoldersByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetFileSystemFoldersByRangeResult" nillable="true" type="q52:ArrayOfWebFolderBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileSystemFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q53:SortBy" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q54:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileSystemFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetAllFileSystemFilesResult" nillable="true" type="q55:ArrayOfWebFileBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFilesByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q56:SortBy" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q57:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFilesByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetFileSystemFilesByRangeResult" nillable="true" type="q58:ArrayOfWebFileBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileSystemFilesAndFolders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q59:SortBy" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q60:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileSystemFilesAndFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetAllFileSystemFilesAndFoldersResult" nillable="true" type="q61:ArrayOfWebFilesystemItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFilesAndFoldersByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q62:SortBy" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q63:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFilesAndFoldersByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetFileSystemFilesAndFoldersByRangeResult" nillable="true" type="q64:ArrayOfWebFilesystemItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFilesAndFoldersCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFilesAndFoldersCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetFileSystemFilesAndFoldersCountResult" nillable="true" type="q65:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFilesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFilesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetFileSystemFilesCountResult" nillable="true" type="q66:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFoldersCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemFoldersCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetFileSystemFoldersCountResult" nillable="true" type="q67:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemDriveBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemDriveBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.FileSystem" minOccurs="0" name="GetFileSystemDriveBasicByIdResult" nillable="true" type="q68:WebDriveBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureSubCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureSubCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetPictureSubCategoriesResult" nillable="true" type="q69:ArrayOfWebCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesBasicByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesBasicByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Picture" minOccurs="0" name="GetPicturesBasicByCategoryResult" nillable="true" type="q70:ArrayOfWebPictureBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesDetailedByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicturesDetailedByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Picture" minOccurs="0" name="GetPicturesDetailedByCategoryResult" nillable="true" type="q71:ArrayOfWebPictureDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetTVEpisodeCountResult" nillable="true" type="q72:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeCountForTVShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeCountForTVShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetTVEpisodeCountForTVShowResult" nillable="true" type="q73:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeCountForSeason">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodeCountForSeasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetTVEpisodeCountForSeasonResult" nillable="true" type="q74:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetTVShowCountResult" nillable="true" type="q75:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonCountForTVShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonCountForTVShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetTVSeasonCountForTVShowResult" nillable="true" type="q76:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowsBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q77:SortBy" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q78:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowsBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetAllTVShowsBasicResult" nillable="true" type="q79:ArrayOfWebTVShowBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowsDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q80:SortBy" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q81:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVShowsDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetAllTVShowsDetailedResult" nillable="true" type="q82:ArrayOfWebTVShowDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowsBasicByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q83:SortBy" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q84:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowsBasicByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVShowsBasicByRangeResult" nillable="true" type="q85:ArrayOfWebTVShowBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowsDetailedByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q86:SortBy" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q87:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowsDetailedByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVShowsDetailedByRangeResult" nillable="true" type="q88:ArrayOfWebTVShowDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVShowBasicByIdResult" nillable="true" type="q89:WebTVShowBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowDetailedById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVShowDetailedByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVShowDetailedByIdResult" nillable="true" type="q90:WebTVShowDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonsBasicForTVShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q91:SortBy" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q92:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonsBasicForTVShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVSeasonsBasicForTVShowResult" nillable="true" type="q93:ArrayOfWebTVSeasonBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonsDetailedForTVShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q94:SortBy" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q95:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonsDetailedForTVShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVSeasonsDetailedForTVShowResult" nillable="true" type="q96:ArrayOfWebTVSeasonDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVSeasonBasicByIdResult" nillable="true" type="q97:WebTVSeasonBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonDetailedById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVSeasonDetailedByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVSeasonDetailedByIdResult" nillable="true" type="q98:WebTVSeasonDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVEpisodesBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q99:SortBy" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q100:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVEpisodesBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetAllTVEpisodesBasicResult" nillable="true" type="q101:ArrayOfWebTVEpisodeBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVEpisodesDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q102:SortBy" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q103:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTVEpisodesDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetAllTVEpisodesDetailedResult" nillable="true" type="q104:ArrayOfWebTVEpisodeDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesBasicByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q105:SortBy" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q106:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesBasicByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodesBasicByRangeResult" nillable="true" type="q107:ArrayOfWebTVEpisodeBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesDetailedByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q108:SortBy" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q109:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesDetailedByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodesDetailedByRangeResult" nillable="true" type="q110:ArrayOfWebTVEpisodeDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesBasicForTVShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q111:SortBy" />
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q112:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesBasicForTVShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodesBasicForTVShowResult" nillable="true" type="q113:ArrayOfWebTVEpisodeBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesDetailedForTVShow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q114:SortBy" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q115:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesDetailedForTVShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodesDetailedForTVShowResult" nillable="true" type="q116:ArrayOfWebTVEpisodeDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesBasicForTVShowByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q117:SortBy" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q118:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTVEpisodesBasicForTVShowByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.TVShow" minOccurs="0" name="GetTVEpisodesBasicForTVShowByRangeResult" nillable="true" type="q119:ArrayOfWebTVEpisodeBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicArtistsBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q120:SortBy" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q121:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicArtistsBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetAllMusicArtistsBasicResult" nillable="true" type="q122:ArrayOfWebMusicArtistBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistsBasicByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q123:SortBy" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q124:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistsBasicByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicArtistsBasicByRangeResult" nillable="true" type="q125:ArrayOfWebMusicArtistBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicArtistBasicByIdResult" nillable="true" type="q126:WebMusicArtistBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicArtistsDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q127:SortBy" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q128:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicArtistsDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetAllMusicArtistsDetailedResult" nillable="true" type="q129:ArrayOfWebMusicArtistDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistsDetailedByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q130:SortBy" />
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q131:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistsDetailedByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicArtistsDetailedByRangeResult" nillable="true" type="q132:ArrayOfWebMusicArtistDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistDetailedById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistDetailedByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicArtistDetailedByIdResult" nillable="true" type="q133:WebMusicArtistDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTrackCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTrackCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMusicTrackCountResult" nillable="true" type="q134:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicTracksBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q135:SortBy" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q136:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicTracksBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetAllMusicTracksBasicResult" nillable="true" type="q137:ArrayOfWebMusicTrackBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicTracksDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q138:SortBy" />
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q139:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicTracksDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetAllMusicTracksDetailedResult" nillable="true" type="q140:ArrayOfWebMusicTrackDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTracksBasicByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q141:SortBy" />
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q142:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTracksBasicByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicTracksBasicByRangeResult" nillable="true" type="q143:ArrayOfWebMusicTrackBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTracksDetailedByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q144:SortBy" />
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q145:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTracksDetailedByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicTracksDetailedByRangeResult" nillable="true" type="q146:ArrayOfWebMusicTrackDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTracksBasicForAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q147:SortBy" />
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q148:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTracksBasicForAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicTracksBasicForAlbumResult" nillable="true" type="q149:ArrayOfWebMusicTrackBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTracksDetailedForAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q150:SortBy" />
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q151:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTracksDetailedForAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicTracksDetailedForAlbumResult" nillable="true" type="q152:ArrayOfWebMusicTrackDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTrackBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTrackBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicTrackBasicByIdResult" nillable="true" type="q153:WebMusicTrackBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTrackDetailedById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicTrackDetailedByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicTrackDetailedByIdResult" nillable="true" type="q154:WebMusicTrackDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicGenres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q155:SortBy" />
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q156:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetAllMusicGenresResult" nillable="true" type="q157:ArrayOfWebGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicGenresByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q158:SortBy" />
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q159:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicGenresByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMusicGenresByRangeResult" nillable="true" type="q160:ArrayOfWebGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicGenresCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicGenresCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMusicGenresCountResult" nillable="true" type="q161:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetAllMusicCategoriesResult" nillable="true" type="q162:ArrayOfWebCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetPictureCountResult" nillable="true" type="q163:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPicturesBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q164:SortBy" />
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q165:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPicturesBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Picture" minOccurs="0" name="GetAllPicturesBasicResult" nillable="true" type="q166:ArrayOfWebPictureBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPicturesDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q167:SortBy" />
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q168:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPicturesDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Picture" minOccurs="0" name="GetAllPicturesDetailedResult" nillable="true" type="q169:ArrayOfWebPictureDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Picture" minOccurs="0" name="GetPictureBasicByIdResult" nillable="true" type="q170:WebPictureBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureDetailedById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureDetailedByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Picture" minOccurs="0" name="GetPictureDetailedByIdResult" nillable="true" type="q171:WebPictureDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPictureCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPictureCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetAllPictureCategoriesResult" nillable="true" type="q172:ArrayOfWebCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetServiceDescriptionResult" nillable="true" type="q173:WebMediaServiceDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="type" type="q174:WebMediaType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMediaItemResult" nillable="true" type="q175:WebMediaItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="SearchResult" nillable="true" type="q176:ArrayOfWebSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResultsByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResultsByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="SearchResultsByRangeResult" nillable="true" type="q177:ArrayOfWebSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalMediaInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="type" type="q178:WebMediaType" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalMediaInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetExternalMediaInfoResult" nillable="true" type="q179:SerializableDictionaryOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMovieCountResult" nillable="true" type="q180:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoviesBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q181:SortBy" />
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q182:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoviesBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Movie" minOccurs="0" name="GetAllMoviesBasicResult" nillable="true" type="q183:ArrayOfWebMovieBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoviesDetailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q184:SortBy" />
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q185:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoviesDetailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Movie" minOccurs="0" name="GetAllMoviesDetailedResult" nillable="true" type="q186:ArrayOfWebMovieDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesBasicByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q187:SortBy" />
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q188:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesBasicByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Movie" minOccurs="0" name="GetMoviesBasicByRangeResult" nillable="true" type="q189:ArrayOfWebMovieBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesDetailedByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q190:SortBy" />
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q191:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesDetailedByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Movie" minOccurs="0" name="GetMoviesDetailedByRangeResult" nillable="true" type="q192:ArrayOfWebMovieDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Movie" minOccurs="0" name="GetMovieBasicByIdResult" nillable="true" type="q193:WebMovieBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieDetailedById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieDetailedByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Movie" minOccurs="0" name="GetMovieDetailedByIdResult" nillable="true" type="q194:WebMovieDetailed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieGenres">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q195:SortBy" />
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q196:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetAllMovieGenresResult" nillable="true" type="q197:ArrayOfWebGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieGenresByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q198:SortBy" />
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q199:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieGenresByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMovieGenresByRangeResult" nillable="true" type="q200:ArrayOfWebGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieGenresCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieGenresCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMovieGenresCountResult" nillable="true" type="q201:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q202:SortBy" />
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q203:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetAllMovieCategoriesResult" nillable="true" type="q204:ArrayOfWebCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieActors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q205:SortBy" />
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q206:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieActorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetAllMovieActorsResult" nillable="true" type="q207:ArrayOfWebActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieActorsByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q208:SortBy" />
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q209:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieActorsByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMovieActorsByRangeResult" nillable="true" type="q210:ArrayOfWebActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieActorCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieActorCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMovieActorCountResult" nillable="true" type="q211:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicAlbumCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicAlbumCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMusicAlbumCountResult" nillable="true" type="q212:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicAlbumsBasic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q213:SortBy" />
        <xs:element xmlns:q214="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q214:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMusicAlbumsBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetAllMusicAlbumsBasicResult" nillable="true" type="q215:ArrayOfWebMusicAlbumBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicAlbumsBasicByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="end" type="xs:int" />
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
        <xs:element xmlns:q216="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q216:SortBy" />
        <xs:element xmlns:q217="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q217:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicAlbumsBasicByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q218="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicAlbumsBasicByRangeResult" nillable="true" type="q218:ArrayOfWebMusicAlbumBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicAlbumsBasicForArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q219="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="sort" nillable="true" type="q219:SortBy" />
        <xs:element xmlns:q220="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="order" nillable="true" type="q220:OrderBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicAlbumsBasicForArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q221="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicAlbumsBasicForArtistResult" nillable="true" type="q221:ArrayOfWebMusicAlbumBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicAlbumBasicById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicAlbumBasicByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q222="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces.Music" minOccurs="0" name="GetMusicAlbumBasicByIdResult" nillable="true" type="q222:WebMusicAlbumBasic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusicArtistCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q223="http://schemas.datacontract.org/2004/07/MPExtended.Services.MediaAccessService.Interfaces" minOccurs="0" name="GetMusicArtistCountResult" nillable="true" type="q223:WebItemCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>