SiteUtilProjects/OnlineVideos.Sites.diebagger/Web References/MpExtendedTvService/item0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.5.18:4322/MPExtended/TVAccessService/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.5.18:4322/MPExtended/TVAccessService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWebProgramBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebProgramBasic" nillable="true" type="tns:WebProgramBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebProgramBasic" nillable="true" type="tns:ArrayOfWebProgramBasic" />
  <xs:complexType name="WebProgramBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurationInMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsScheduled" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebProgramBasic" nillable="true" type="tns:WebProgramBasic" />
  <xs:complexType name="ArrayOfWebProgramDetailed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebProgramDetailed" nillable="true" type="tns:WebProgramDetailed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebProgramDetailed" nillable="true" type="tns:ArrayOfWebProgramDetailed" />
  <xs:complexType name="WebProgramDetailed">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebProgramBasic">
        <xs:sequence>
          <xs:element minOccurs="0" name="Classification" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EpisodeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EpisodeNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EpisodeNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EpisodePart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasConflict" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPartialRecordingSeriesPending" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRecording" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRecordingManual" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRecordingOnce" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRecordingOncePending" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRecordingSeries" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRecordingSeriesPending" type="xs:boolean" />
          <xs:element minOccurs="0" name="Notify" type="xs:boolean" />
          <xs:element minOccurs="0" name="OriginalAirDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ParentalRating" type="xs:int" />
          <xs:element minOccurs="0" name="SeriesNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StarRating" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebProgramDetailed" nillable="true" type="tns:WebProgramDetailed" />
  <xs:complexType name="ArrayOfWebChannelProgramsOfWebProgramBasicmOh5d_SPI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebChannelProgramsOfWebProgramBasicmOh5d_SPI" nillable="true" type="tns:WebChannelProgramsOfWebProgramBasicmOh5d_SPI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebChannelProgramsOfWebProgramBasicmOh5d_SPI" nillable="true" type="tns:ArrayOfWebChannelProgramsOfWebProgramBasicmOh5d_SPI" />
  <xs:complexType name="WebChannelProgramsOfWebProgramBasicmOh5d_SPI">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="WebChannelProgramsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="WebProgramBasic" Namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="Programs" nillable="true" type="tns:ArrayOfWebProgramBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebChannelProgramsOfWebProgramBasicmOh5d_SPI" nillable="true" type="tns:WebChannelProgramsOfWebProgramBasicmOh5d_SPI" />
  <xs:complexType name="ArrayOfWebChannelProgramsOfWebProgramDetailedmOh5d_SPI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebChannelProgramsOfWebProgramDetailedmOh5d_SPI" nillable="true" type="tns:WebChannelProgramsOfWebProgramDetailedmOh5d_SPI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebChannelProgramsOfWebProgramDetailedmOh5d_SPI" nillable="true" type="tns:ArrayOfWebChannelProgramsOfWebProgramDetailedmOh5d_SPI" />
  <xs:complexType name="WebChannelProgramsOfWebProgramDetailedmOh5d_SPI">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="WebChannelProgramsOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="WebProgramDetailed" Namespace="http://schemas.datacontract.org/2004/07/MPExtended.Services.TVAccessService.Interfaces" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="Programs" nillable="true" type="tns:ArrayOfWebProgramDetailed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebChannelProgramsOfWebProgramDetailedmOh5d_SPI" nillable="true" type="tns:WebChannelProgramsOfWebProgramDetailedmOh5d_SPI" />
  <xs:complexType name="WebRecordingBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EpisodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodePart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManual" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecording" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeepUntil" type="xs:int" />
      <xs:element minOccurs="0" name="KeepUntilDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScheduleId" type="xs:int" />
      <xs:element minOccurs="0" name="SeriesNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShouldBeDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StopTime" type="xs:int" />
      <xs:element minOccurs="0" name="TimesWatched" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebRecordingBasic" nillable="true" type="tns:WebRecordingBasic" />
  <xs:complexType name="WebRecordingFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exists" type="xs:boolean" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocalFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastAccessTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnNetworkDrive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebRecordingFileInfo" nillable="true" type="tns:WebRecordingFileInfo" />
  <xs:complexType name="ArrayOfWebChannelGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebChannelGroup" nillable="true" type="tns:WebChannelGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebChannelGroup" nillable="true" type="tns:ArrayOfWebChannelGroup" />
  <xs:complexType name="WebChannelGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRadio" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTv" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebChannelGroup" nillable="true" type="tns:WebChannelGroup" />
  <xs:complexType name="ArrayOfWebChannelBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebChannelBasic" nillable="true" type="tns:WebChannelBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebChannelBasic" nillable="true" type="tns:ArrayOfWebChannelBasic" />
  <xs:complexType name="WebChannelBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsRadio" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTv" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebChannelBasic" nillable="true" type="tns:WebChannelBasic" />
  <xs:complexType name="ArrayOfWebChannelDetailed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebChannelDetailed" nillable="true" type="tns:WebChannelDetailed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebChannelDetailed" nillable="true" type="tns:ArrayOfWebChannelDetailed" />
  <xs:complexType name="WebChannelDetailed">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebChannelBasic">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentProgram" nillable="true" type="tns:WebProgramDetailed" />
          <xs:element minOccurs="0" name="EpgHasGaps" type="xs:boolean" />
          <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FreeToAir" type="xs:int" />
          <xs:element minOccurs="0" name="GrabEpg" type="xs:boolean" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupNames" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastGrabTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NextProgram" nillable="true" type="tns:WebProgramDetailed" />
          <xs:element minOccurs="0" name="TimesWatched" type="xs:int" />
          <xs:element minOccurs="0" name="TotalTimeWatched" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VisibleInGuide" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebChannelDetailed" nillable="true" type="tns:WebChannelDetailed" />
  <xs:complexType name="ArrayOfWebChannelState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebChannelState" nillable="true" type="tns:WebChannelState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebChannelState" nillable="true" type="tns:ArrayOfWebChannelState" />
  <xs:complexType name="WebChannelState">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="tns:ChannelState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebChannelState" nillable="true" type="tns:WebChannelState" />
  <xs:simpleType name="ChannelState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotTunable">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tunable">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Timeshifting">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Recording">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChannelState" nillable="true" type="tns:ChannelState" />
  <xs:complexType name="WebVirtualCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="BitRateMode" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="GetTimeshiftStoppedReason" type="xs:int" />
      <xs:element minOccurs="0" name="GrabTeletext" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasTeletext" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsGrabbingEpg" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecording" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsScanning" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsScrambled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTimeShifting" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTunerLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxChannel" type="xs:int" />
      <xs:element minOccurs="0" name="MinChannel" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QualityType" type="xs:int" />
      <xs:element minOccurs="0" name="RTSPUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordingFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordingFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordingFormat" type="xs:int" />
      <xs:element minOccurs="0" name="RecordingScheduleId" type="xs:int" />
      <xs:element minOccurs="0" name="RecordingStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemoteServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignalLevel" type="xs:int" />
      <xs:element minOccurs="0" name="SignalQuality" type="xs:int" />
      <xs:element minOccurs="0" name="TimeShiftFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeShiftFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeShiftStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="tns:WebCardType" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:WebUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebVirtualCard" nillable="true" type="tns:WebVirtualCard" />
  <xs:simpleType name="WebCardType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Analog" />
      <xs:enumeration value="DvbS" />
      <xs:enumeration value="DvbT" />
      <xs:enumeration value="DvbC" />
      <xs:enumeration value="Atsc" />
      <xs:enumeration value="RadioWebStream" />
      <xs:enumeration value="DvbIP" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebCardType" nillable="true" type="tns:WebCardType" />
  <xs:complexType name="WebUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="HeartBeat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubChannel" type="xs:int" />
      <xs:element minOccurs="0" name="TvStoppedReason" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebUser" nillable="true" type="tns:WebUser" />
  <xs:complexType name="WebTVServiceDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApiVersion" type="xs:int" />
      <xs:element minOccurs="0" name="HasConnectionToTVServer" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebTVServiceDescription" nillable="true" type="tns:WebTVServiceDescription" />
  <xs:simpleType name="WebTVSearchResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TVChannel" />
      <xs:enumeration value="RadioChannel" />
      <xs:enumeration value="Schedule" />
      <xs:enumeration value="Recording" />
      <xs:enumeration value="TVGroup" />
      <xs:enumeration value="RadioGroup" />
      <xs:enumeration value="Program" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebTVSearchResultType" nillable="true" type="tns:WebTVSearchResultType" />
  <xs:complexType name="ArrayOfWebTVSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebTVSearchResult" nillable="true" type="tns:WebTVSearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebTVSearchResult" nillable="true" type="tns:ArrayOfWebTVSearchResult" />
  <xs:complexType name="WebTVSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:WebTVSearchResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebTVSearchResult" nillable="true" type="tns:WebTVSearchResult" />
  <xs:complexType name="ArrayOfWebCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebCard" nillable="true" type="tns:WebCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebCard" nillable="true" type="tns:ArrayOfWebCard" />
  <xs:complexType name="WebCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAM" type="xs:boolean" />
      <xs:element minOccurs="0" name="CamType" type="xs:int" />
      <xs:element minOccurs="0" name="DecryptLimit" type="xs:int" />
      <xs:element minOccurs="0" name="DevicePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="GrabEPG" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastEpgGrab" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetProvider" type="xs:int" />
      <xs:element minOccurs="0" name="PreloadCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="RecordingFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordingFormat" type="xs:int" />
      <xs:element minOccurs="0" name="SupportSubChannels" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeShiftFolder" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebCard" nillable="true" type="tns:WebCard" />
  <xs:complexType name="ArrayOfWebVirtualCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebVirtualCard" nillable="true" type="tns:WebVirtualCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebVirtualCard" nillable="true" type="tns:ArrayOfWebVirtualCard" />
  <xs:complexType name="ArrayOfWebUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebUser" nillable="true" type="tns:WebUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebUser" nillable="true" type="tns:ArrayOfWebUser" />
  <xs:complexType name="ArrayOfWebRtspClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebRtspClient" nillable="true" type="tns:WebRtspClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebRtspClient" nillable="true" type="tns:ArrayOfWebRtspClient" />
  <xs:complexType name="WebRtspClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="StreamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebRtspClient" nillable="true" type="tns:WebRtspClient" />
  <xs:simpleType name="WebScheduleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Once" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Weekly" />
      <xs:enumeration value="EveryTimeOnThisChannel" />
      <xs:enumeration value="EveryTimeOnEveryChannel" />
      <xs:enumeration value="Weekends" />
      <xs:enumeration value="WorkingDays" />
      <xs:enumeration value="WeeklyEveryTimeOnThisChannel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebScheduleType" nillable="true" type="tns:WebScheduleType" />
  <xs:complexType name="ArrayOfWebScheduleBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebScheduleBasic" nillable="true" type="tns:WebScheduleBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebScheduleBasic" nillable="true" type="tns:ArrayOfWebScheduleBasic" />
  <xs:complexType name="WebScheduleBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="BitRateMode" type="xs:int" />
      <xs:element minOccurs="0" name="Canceled" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="Directory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoesUseEpisodeManagement" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManual" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeepDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KeepMethod" type="tns:WebScheduleKeepMethod" />
      <xs:element minOccurs="0" name="MaxAirings" type="xs:int" />
      <xs:element minOccurs="0" name="ParentScheduleId" type="xs:int" />
      <xs:element minOccurs="0" name="PostRecordInterval" type="xs:int" />
      <xs:element minOccurs="0" name="PreRecordInterval" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Quality" type="xs:int" />
      <xs:element minOccurs="0" name="QualityType" type="xs:int" />
      <xs:element minOccurs="0" name="RecommendedCard" type="xs:int" />
      <xs:element minOccurs="0" name="ScheduleType" type="tns:WebScheduleType" />
      <xs:element minOccurs="0" name="Series" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebScheduleBasic" nillable="true" type="tns:WebScheduleBasic" />
  <xs:simpleType name="WebScheduleKeepMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UntilSpaceNeeded" />
      <xs:enumeration value="UntilWatched" />
      <xs:enumeration value="TillDate" />
      <xs:enumeration value="Always" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebScheduleKeepMethod" nillable="true" type="tns:WebScheduleKeepMethod" />
  <xs:complexType name="ArrayOfWebScheduledRecording">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebScheduledRecording" nillable="true" type="tns:WebScheduledRecording" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebScheduledRecording" nillable="true" type="tns:ArrayOfWebScheduledRecording" />
  <xs:complexType name="WebScheduledRecording">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProgramId" type="xs:int" />
      <xs:element minOccurs="0" name="ScheduleId" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebScheduledRecording" nillable="true" type="tns:WebScheduledRecording" />
  <xs:complexType name="ArrayOfWebRecordingBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebRecordingBasic" nillable="true" type="tns:WebRecordingBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebRecordingBasic" nillable="true" type="tns:ArrayOfWebRecordingBasic" />
</xs:schema>